<!--Main layout-->
<div class="container-fluid">
	<div class="row">

		<!--Sidebar-->
		<div class="col-lg-3">

			<div class="widget-wrapper">
				<h4>Projects</h4>
				<br>
				<div class="list-group wow bounceInDown">
					<a href="https://github.com/cwilliams3579/my-projects/tree/master/Rails" target="_blank" class="list-group-item wow zoomIn"><i class="fa fa-diamond fa-2x" aria-hidden="true"></i>Ruby on Rails</a>
					<a href="https://github.com/CodingDojoDallas/mean-sept-2016/tree/master/Cleveland/Javascript" target="_blank" class="list-group-item wow zoomIn"><i class="fa fa-terminal fa-2x" aria-hidden="true"></i>M.E.A.N</a>
					<a href="https://github.com/cwilliams3579/my-projects/tree/master/Python" target="_blank" class="list-group-item wow zoomIn"><i class="fa fa-terminal fa-2x" aria-hidden="true"></i>Python</a>
					<a href="http://codepen.io/cwilliams3579/pens/public/" target="_blank" class="list-group-item wow zoomIn"><i class="fa fa-codepen fa-2x" aria-hidden="true"></i> Codepen</a>
					<a href="https://www.freecodecamp.com/cwilliams3579" target="_blank" class="list-group-item wow zoomIn"><i class="fa fa-fire fa-2x" aria-hidden="true"></i>Free Code Camp</a>
				</div>
			</div>

			<div class="widget-wrapper wow bounceInDown">
				<!-- <a href="https://www.globalwealthtrade.com/vdm/brand.php?brand=3&referral=default" target="_blank"><h4 class="wow fadeInLeftBig">Promotions</h4></a> -->
				<br>
				<div class="card">
					<div class="card-block">
						<div id="about"></div>
						<a href="https://github.com/cwilliams3579" target="_blank"><p><h2 class="text-center">About Me</h2></p></a>
						<p class="wow zoomIn">
							I started out with computer repair &amp; building high end gaming computers from my junior high school days about 15 years ago. After building computers for so long, I became interested in web development after which I encountered valuable resources. Among them were Coding Dojo an onsite bootcamp, Udemy and FreeCodeCamp.
							The Coding Dojo courses were focused on laying a foundation for web development. The instructors were awesome and very knowledgeable. I started out by learning the fundamentals of HTML, CSS and JavaScript. The instructors taught us three full stacks including Python, M.E.A.N and Ruby on Rails. After the first few weeks of building cool web apps with different frameworks, my love affair with web development began. I would literally spend hours working on projects while implimenting new features and techniques. Web development is now my obsession and without it feels like a part of me is missing.
						</p>

					</div>
				</div>
			</div>

		</div>
		<!--/.Sidebar-->

		<!--Main column-->
		<div class="col-md-8">
			<!--First row-->
			<div class="row">
				<div class="col-lg-12">
					<div id="portfolio"></div>
					<div class="divider-new wow zoomIn">
						<h2 class="h2-responsive wow bounceInDown">Portfolio</h2>
					</div>



					<!--Carousel Wrapper-->
					<div id="carousel-example-1z" class="carousel slide carousel-fade wow fadeInRightBig" data-ride="carousel">
						<!--Indicators-->
						<ol class="carousel-indicators">
							<li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
							<li data-target="#carousel-example-1z" data-slide-to="1"></li>
							<li data-target="#carousel-example-1z" data-slide-to="2"></li>
						</ol>
						<!--/.Indicators-->
						<!--Slides-->
						<div class="carousel-inner" role="listbox">
							<!--First slide-->
							<div class="carousel-item active">
								<img src="assets/ruby-udemy.jpg" style="width:100%; height:20%;" alt="First slide">
								<div class="carousel-caption">
									<br>
								</div>
							</div>
							<!--/First slide-->
							<!--Second slide-->
							<div class="carousel-item">
								<img src="assets/canvas-udemy.jpg" style="width:100%; height:20%;" alt="Second slide">
								<div class="carousel-caption">
									<br>
								</div>
							</div>
							<!--/Second slide-->
							<!--Third slide-->
							<div class="carousel-item">
								<img src="assets/analytics-udemy.jpg" style="width:100%; height:20%;" alt="Third slide">
								<div class="carousel-caption">
									<h4></h4>
									<br>
								</div>
							</div>
							<!--/Third slide-->
							<!--Fourth slide-->
							<div class="carousel-item">
								<img src="assets/mongodb-udemy.jpg" style="width:100%; height:20%;" alt="Fourth slide">
								<div class="carousel-caption">
									<h4></h4>
									<br>
								</div>
							</div>
							<!--/Fourth slide-->
							<!--Fifth slide-->
							<div class="carousel-item">
								<img src="assets/stencyl-udemy.jpg" style="width:100%; height:20%;" alt="Fifth slide">
								<div class="carousel-caption">
									<h4></h4>
									<br>
								</div>
							</div>
							<!--/Fifth slide-->
						</div>
						<!--/.Slides-->
						<!--Controls-->
						<a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
						<!--/.Controls-->
					</div>
					<!--/.Carousel Wrapper-->
				</div>
			</div>
			<!--/.First row-->
			<br>
			<hr class="extra-margins">
			<!--Second row-->
			<div class="row">
				<!--First columnn-->
				<div class="col-lg-4 wow zoomIn">
					<br>
					<!--/.Card-->

					<!--Card-->
					<div class="card card-cascade wider">

						<!--Card image-->
						<div class="view overlay hm-white-slight">
							<img src="https://github.com/cwilliams3579/Screenshots/blob/master/manage-screenshot.jpg?raw=true" class="img-fluid" alt="">
							<a href="https://mysterious-river-34583.herokuapp.com/" target="_blank">
								<div class="mask"></div>
							</a>
						</div>
						<!--/.Card image-->

						<!--Card content-->
						<div class="card-block text-center">
							<!--Category & Title-->
							<h5>Ruby on Rails</h5>
							<h4 class="card-title"><strong><a href="https://mysterious-river-34583.herokuapp.com/" target="_blank" style="color:#0275D8;">Project Management</a></strong></h4>

							<!--Description-->
							<p class="card-text">Real time web application that allows an administrator to invite new users via email. This app is integrated with stripe to process payments based on the payment plan that the client chooses.</p>

							<!--Card footer-->
							<div class="card-footer">
								<span class="left"></span>
								<span class="right">
									<a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt"></i></a>
									<a class="active" data-toggle="tooltip" data-placement="top" title="Added to Wishlist"><i class="fa fa-heart"></i></a>
								</span>
							</div>

						</div>
						<!--/.Card content-->

					</div>
					<!--/.Card-->
				</div>
				<!--First columnn-->

				<!--Second columnn-->
				<div class="col-lg-4 wow zoomIn">
					<br>
					<!--/.Card-->

					<!--Card-->
					<div class="card card-cascade wider">

						<!--Card image-->
						<div class="view overlay hm-white-slight">
							<img src="https://github.com/cwilliams3579/Screenshots/blob/master/blogger.jpg?raw=true" class="img-fluid" alt="">
							<a href="https://warm-mountain-91570.herokuapp.com/" target="_blank">
								<div class="mask"></div>
							</a>
						</div>
						<!--/.Card image-->

						<!--Card content-->
						<div class="card-block text-center">
							<!--Category & Title-->
							<h5>Ruby on Rails</h5>
							<h4 class="card-title"><strong><a href="https://warm-mountain-91570.herokuapp.com/" target="_blank" style="color:#0275D8;">Blogger Spot</a></strong></h4>

							<!--Description-->
							<p class="card-text">A web application that allows users to effortlessly create, read, update or destroy articles.</p>

							<!--Card footer-->
							<div class="card-footer">
								<span class="left"></span>
								<span class="right">
									<a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt"></i></a>
									<a class="active" data-toggle="tooltip" data-placement="top" title="Added to Wishlist"><i class="fa fa-heart"></i></a>
								</span>
							</div>

						</div>
						<!--/.Card content-->

					</div>
					<!--/.Card-->
				</div>
				<!--Second columnn-->

				<!--Second columnn-->
        <div class="col-lg-4 wow zoomIn">
          <br>
          <!--/.Card-->

          <!--Card-->
          <div class="card card-cascade wider">

            <!--Card image-->
            <div class="view overlay hm-white-slight">
              <img src="assets/yelp.jpg" class="img-fluid" alt="">
              <a href="https://mighty-ravine-10713.herokuapp.com/" target="_blank">
                <div class="mask"></div>
              </a>
            </div>
            <!--/.Card image-->

            <!--Card content-->
            <div class="card-block text-center">
              <!--Category & Title-->
              <h5>Ruby on Rails</h5>
              <h4 class="card-title"><strong><a href="https://mighty-ravine-10713.herokuapp.com/" target="_blank" style="color:#0275D8;">Yelp Clone</a></strong></h4>

              <!--Description-->
              <p class="card-text">A web application similar to yelp that allows users to effortlessly create, read, update or destroy reviews.</p>

              <!--Card footer-->
              <div class="card-footer">
                <span class="left"></span>
                <span class="right">
                  <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt"></i></a>
                  <a class="active" data-toggle="tooltip" data-placement="top" title="Added to Wishlist"><i class="fa fa-heart"></i></a>
                </span>
              </div>

            </div>
            <!--/.Card content-->

          </div>
          <!--/.Card-->
        </div>
        <!--Third columnn-->
			<!--Second row-->
			<div class="row">

				<div class="col-lg-4 wow zoomIn">
					<br>
					<!--/.Card-->

					<!--Card-->
					<div class="card card-cascade wider">

						<!--Card image-->
						<div class="view overlay hm-white-slight">
							<img src="https://github.com/cwilliams3579/Screenshots/blob/master/random-quote.png?raw=true" class="img-fluid" alt="">
							<a href="http://codepen.io/cwilliams3579/pen/RoBYOK" target="_blank">
								<div class="mask"></div>
							</a>
						</div>
						<!--/.Card image-->

						<!--Card content-->
						<div class="card-block text-center">
							<!--Category & Title-->
							<h5>HTML5</h5>
							<h4 class="card-title"><strong><a href="http://codepen.io/cwilliams3579/pen/RoBYOK" target="_blank" style="color:#0275D8;">Random Quote</a></strong></h4>

							<!--Description-->
							<p class="card-text">A web application made with HTML5, CSS, and JavaScript that displays random quotes from various authors.</p>

							<!--Card footer-->
							<div class="card-footer">
								<span class="left"></span>
								<span class="right">
									<a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt"></i></a>
									<a class="active" data-toggle="tooltip" data-placement="top" title="Added to Wishlist"><i class="fa fa-heart"></i></a>
								</span>
							</div>

						</div>
						<!--/.Card content-->

					</div>
					<!--/.Card-->
				</div>
				<div class="col-lg-4 wow zoomIn">
					<!--/.Card-->

					<!--Card-->
					<div class="card card-cascade wider">

						<!--Card image-->
						<div class="view overlay hm-white-slight">
							<img src="assets/lapomme.jpg" class="img-fluid" alt="">
							<a href="https://hidden-stream-79863.herokuapp.com/" target="_blank">
								<div class="mask"></div>
							</a>
						</div>
						<!--/.Card image-->

						<!--Card content-->
						<div class="card-block text-center">
							<!--Category & Title-->
							<h5>Ruby on Rails</h5>
							<h4 class="card-title"><strong><a href="https://hidden-stream-79863.herokuapp.com/" target="_blank" style="color:#0275D8;">Lapomme Luxury</a></strong></h4>

							<!--Description-->
							<p class="card-text">A landing page built with Ruby on Rails .</p>

							<!--Card footer-->
							<div class="card-footer">
								<span class="left"></span>
								<span class="right">
									<a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt"></i></a>
									<a class="active" data-toggle="tooltip" data-placement="top" title="Added to Wishlist"><i class="fa fa-heart"></i></a>
								</span>
							</div>

						</div>
						<!--/.Card content-->

					</div>
					<!--/.Card-->
				</div>
				<div class="col-lg-4 wow zoomIn">
					<!--/.Card-->

					<!--Card-->
					<div class="card card-cascade wider">

						<!--Card image-->
						<div class="view overlay hm-white-slight">
							<img src="https://github.com/cwilliams3579/my-projects/blob/master/jQuery/NinjaToCat/Screenshot_2016-11-08_11-27-37.png?raw=true" class="img-fluid" alt="ninja-to-cat">
							<a href="http://codepen.io/cwilliams3579/pen/BQojOw" target="_blank">
								<div class="mask"></div>
							</a>
						</div>
						<!--/.Card image-->

						<!--Card content-->
						<div class="card-block text-center">
							<!--Category & Title-->
							<h5>HTML5</h5>
							<h4 class="card-title"><strong><a href="http://codepen.io/cwilliams3579/pen/BQojOw" target="_blank" style="color:#0275D8;">Ninja Cat</a></strong></h4>

							<!--Description-->
							<p class="card-text">A simple web application made with HTML5 and jQuery.</p>

							<!--Card footer-->
							<div class="card-footer">
								<span class="left"></span>
								<span class="right">
									<a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt"></i></a>
									<a class="active" data-toggle="tooltip" data-placement="top" title="Added to Wishlist"><i class="fa fa-heart"></i></a>
								</span>
							</div>

						</div>
						<!--/.Card content-->

					</div>
					<!--/.Card-->
				</div>
			</div><!-- End Row -->
			<br>
			<!--Third row-->
			<div class="row">

				<div class="col-lg-4 wow zoomIn">
					<!--/.Card-->

					<!--Card-->
					<div class="card card-cascade wider">

						<!--Card image-->
						<div class="view overlay hm-white-slight">
							<img src="https://github.com/cwilliams3579/Screenshots/blob/master/Screenshot_2016-12-02_03-26-24.png?raw=true" class="img-fluid" alt="">
							<a href="https://github.com/cwilliams3579/GroupChat" target="_blank" >
								<div class="mask"></div>
							</a>
						</div>
						<!--/.Card image-->

						<!--Card content-->
						<div class="card-block text-center">
							<!--Category & Title-->
							<h5>M.E.A.N</h5>
							<h4 class="card-title"><strong><a href="https://github.com/cwilliams3579/GroupChat" target="_blank" style="color:#0275D8;">Group Chat</a></strong></h4>

							<!--Description-->
							<p class="card-text">A real time web application that can send messages to anyone that joins the group.</p>

							<!--Card footer-->
							<div class="card-footer">
								<span class="left"></span>
								<span class="right">
									<a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt"></i></a>
									<a class="active" data-toggle="tooltip" data-placement="top" title="Added to Wishlist"><i class="fa fa-heart"></i></a>
								</span>
							</div>

						</div>
						<!--/.Card content-->

					</div>
					<!--/.Card-->
				</div>
				<div class="col-lg-4 wow zoomIn">
					<!--/.Card-->

					<!--Card-->
					<div class="card card-cascade wider">

						<!--Card image-->
						<div class="view overlay hm-white-slight">
							<img src="assets/SpaceTroopers.png" class="img-fluid" alt="">
							<a href="#" target="_blank">
								<div class="mask"></div>
							</a>
						</div>
						<!--/.Card image-->

						<!--Card content-->
						<div class="card-block text-center">
							<!--Category & Title-->
							<h5>Stencyl</h5>
							<h4 class="card-title"><strong><a href="https://www.globalwealthtrade.com/vdm/display_item.php?referral=default&category=90&item=6444&cntylng=&page=1" target="_blank" style="color:#0275D8;">Space Trooper</a></strong></h4>

							<!--Description-->
							<p class="card-text">Awesome arcade style space shooter with sound effects and a scoreboard. This application was made with Stencyl.</p>

							<!--Card footer-->
							<div class="card-footer">
								<span class="left"></span>
								<span class="right">
									<a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt"></i></a>
									<a class="active" data-toggle="tooltip" data-placement="top" title="Added to Wishlist"><i class="fa fa-heart"></i></a>
								</span>
							</div>

						</div>
						<!--/.Card content-->

					</div>
					<!--/.Card-->
				</div>
				<div class="col-lg-4 wow zoomIn">
					<!--/.Card-->

					<!--Card-->
					<div class="card card-cascade wider">

						<!--Card image-->
						<div class="view overlay hm-white-slight">
							<img src="https://github.com/cwilliams3579/Screenshots/blob/master/pokedex.png?raw=true" class="img-fluid" alt="">
							<a href="http://codepen.io/cwilliams3579/pen/qqoMqN" target="_blank">
								<div class="mask"></div>
							</a>
						</div>
						<!--/.Card image-->

						<!--Card content-->
						<div class="card-block text-center">
							<!--Category & Title-->
							<h5>HTML5</h5>
							<h4 class="card-title"><strong><a href="http://codepen.io/cwilliams3579/pen/qqoMqN" target="_blank" style="color:#0275D8;">Pokedex</a></strong></h4>

							<!--Description-->
							<p class="card-text">A simple app made with HTML5 using the poke api that displays 150 pokemon and their characteristics.</p>

							<!--Card footer-->
							<div class="card-footer">
								<span class="left"></span>
								<span class="right">
									<a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt"></i></a>
									<a class="active" data-toggle="tooltip" data-placement="top" title="Added to Wishlist"><i class="fa fa-heart"></i></a>
								</span>
							</div>

						</div>
						<!--/.Card content-->

					</div>
					<!--/.Card-->
				</div>
			</div><!-- End Row -->
			<br>

			<br>

			<!--/.Third row-->
		</div>
		<!--/.Main column-->

	</div>
</div>
<!--/.Main layout-->
