// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
  // apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

  /* Tablet Landscape */
  @media screen and (max-width: 1060px) {
      #primary { width:67%; }
      #secondary { width:30%; margin-left:3%;}
  }

  /* Tabled Portrait */
  @media screen and (max-width: 768px) {
      #primary { width:100%; }
      #secondary { width:100%; margin:0; border:none; }
  }
img { max-width: 100%; }

a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  font-weight:      bold;
  }
a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  font-weight:      bold;
  // background-color: #ddd;
  }
a:hover   {
  /* Applies to links under the pointer */
  text-decoration:  none;
  font-weight:      bold;
  color:            #fff;
  }
a:active  {
  /* Applies to activated links */
  text-decoration:  none;
  font-weight:      bold;
  background-color: black;
  color: white;
  }
