// $primary-color: #0275D8;
// main {
//     padding-top: 3rem;
//     /*padding-bottom: 2rem;*/
// }

li {
  list-style: none;
}

//
// indigo-skin .carousel-multi-item .carousel-indicators li, .indigo-skin .carousel-multi-item .carousel-indicators li.active, .indigo-skin .carousel-multi-item .controls-top>a {
//     background-color: $primary-color !important;
// }
//
// .carousel-multi-item .carousel-indicators li {
//     height: 20px;
//     max-width: 20px;
//     background-color: #4285F4 !important;
//     margin-bottom: -60px;
// }
//
// .widget-wrapper h4, .h2-responsive, strong {
//   color: $primary-color;
// }
//
// .card-title {
//   color: $primary-color;
// }
//
// .card-block h5 {
//   color: $primary-color;
// }
//
// .card .card-title, a:hover {
//     transition: .4s;
//     color: $primary-color;
// }
// .widget-wrapper {
//     padding-bottom: 2rem;
//     border-bottom: 1px solid #e0e0e0;
//     margin-bottom: 2rem;
// }
//
// .extra-margins {
//     margin-top: 1rem;
//     margin-bottom: 2.5rem;
// }
//
// .divider-new {
//     margin-top: 0;
// }
//
// .overlay img, .overlay video {
//     transition: all .2s linear;
//     height: 262px;
// }
//
//
// .navbar-toggleable-md .navbar-collapse {
//
//     display: -webkit-box!important;
//     display: -webkit-flex!important;
//     display: -ms-flexbox!important;
//     display: flex!important;
//     width: 100%;
// }
// .navbar .navbar-brand {
//     -webkit-align-self: flex-start;
//     -ms-flex-item-align: start;
//     align-self: flex-start;
//     overflow: visible;
//     color: #fff;
// }
//
// .nav-link{
//   color: #fff;
//
// }
//
// .navbar-nav > ul > li {
//   word-spacing: 50px;
//   letter-spacing: 2px;
// }
//
// .fa-2x {
//     font-size: 2em;
//     padding-right: 10px;
// }
//
// #footer {
//     // position : absolute;
//     bottom : 0;
//     // margin-top : 40px;
//     // background-color: #5DA4B5 !important;
// }
//
// footer.page-footer .footer-copyright {
//     overflow: hidden;
//     height: 50px;
//     line-height: 50px;
//     color: rgba(255,255,255,.8);
//     background-color: none !important;
//     text-align: center;
// }
//
// .logo {
//   width: 100% !important;
//   display: block;
//   height: auto;
//   padding-right: 25px;
//   background-color: transparent;
// }
//
// #h-title {
//   color: #293a48;
// }

.streak.streak-contact {
    height: 700px;
}
.streak.streak-photo {
    background-attachment: fixed;
}
.streak.streak-photo {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.streak {
    height: 340px;
}
.streak {
    display: block;
    position: relative;
    overflow: hidden;
    background: #e5e5e5;
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto auto;
    height: 250px;
}

.developer .hm-white-strong .mask, .developer .hm-white-strong .full-bg-img {
    background-color: rgba(255, 255, 255, 0.5);
}
.hm-white-strong .mask, .hm-white-strong .full-bg-img {
    background-color: rgba(255, 255, 255, 0.7);
}
.full-bg-img {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.tiles-blog .tiles-margins {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.img-fluid {
  width: 399px;
  height: 26vh !important;
}

.hidden {
  display: none;
}

.intro {
  height: 100vh !important;
  background-repeat: no-repeat;
  background-size: cover;
}
mark {
  background: transparent !important;
}

.full-bg-img {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
