// @import "bourbon/bourbon";


.carousel-inner > .item > img {
  // width: 70%;
  margin: auto;
}


.container {
  height: 100%;
  width: 300px;
}
.btn-default, #circled {
  display: inline-block;
  background: #2B252C;
  margin: 0 auto;
  border-radius: 100%;
  width: 4.5em;
  height: 4.5em;
  line-height: 4.5em;
  text-align: center;
  font-size: 1.25em;
  padding: 0;
}
#aboutMe, #features {
  color: #483949;
}
.btn-default {
  margin-top: 10px;
}
