*, *:before, *:after {
  box-sizing: inherit;
}

.items {
  height:600px;
  padding-top: 35px;
  padding-bottom: 10px;
  width: 90%;
  margin: 0 auto;
  border:40px groove #337AB7;
  box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.09);
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  position: relative;
  background: #fff;
  font-size: 24px;
  perspective: 2000px;
}
.items:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

.item {
  width:400px;
  padding: 40px;
  height: calc(80% - 40px);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-weight: 100;
  color:rgba(0,0,0,0.15);
  box-shadow: inset 0 0 0 10px rgba(0,0,0,0.15);
}

.item:nth-child(9n+1) { border: 20px #337AB7 groove;}
.item:nth-child(9n+2) { border: 20px #337AB7 groove;}
.item:nth-child(9n+3) { border: 20px #337AB7 groove;}
.item:nth-child(9n+4) { border: 20px #337AB7 groove;}
.item:nth-child(9n+5) { border: 20px #337AB7 groove;}
.item:nth-child(9n+6) { border: 20px #337AB7 groove;}
.item:nth-child(9n+7) { border: 20px #337AB7 groove;}
.item:nth-child(9n+8) { border: 20px #337AB7 groove;}
.item:nth-child(9n+9) { border: 20px #337AB7 groove;}

.item:nth-child(even) { transform: scaleX(1.31) rotateY(40deg); }
.item:nth-child(odd) { transform: scaleX(1.31) rotateY(-40deg); }

.ltGreenBox{
  border-style: groove;
  border: 5px;
}

.container-fluid {
  // border:20px groove #337AB7;
  padding: 20px;
  margin: 0 auto;
  max-width: 80%;
  width: 40%;
}
.col-xs-3 {
  width: 40%;
}

// #right-side{
//   float: right;
// }
// #left-side {
//   float: left;
// }
#video1, #video2 {
  padding-top: 5px;
  margin: 0 auto;
}
#video3, #video4 {
  margin: 0 auto;
  padding-top: 5px;
}
hr {
  opacity: 1;
}
.img-responsive {
  // margin: 0 auto;
}
.fa{
  color: #337AB7;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
}

#mail {
  font-size: x-large;
}
#number {
  font-size: large;
}
