<!--Footer-->
<footer class="page-footer" style="background:#293a48;"><h2 class="title text-center"></h2>
  <!--/.First column-->
<div class="container-fluid">
  <!--/.Footer Links-->
  <h2 class="text-center">Contact</h2>
  <a href="#" id="contact"></a>
  <hr>

  <!--Call to action-->
  <div class="call-to-action">
    <a href="mailto:clevelandwilliams3579@gmail.com?Subject=Hello%20again" target="_top" class="email-ic"><i class="fa fa-envelope-o fa-lg wow zoomIn" data-wow-offset="5" style="color:white">&nbsp; Send a message</i></a><br><br>
    <p class="wow zoomIn"><i class="fa fa-phone wow shake" aria-hidden="true"></i>&nbsp; +1 407-267-4838</p>
  </div>
  <!--/.Call to action-->
  <hr>
  <!--Social buttons-->
  <div class="social-section">
    <ul>
      <li><a href="https://github.com/cwilliams3579" target="_blank"  class="btn-floating btn-small btn-git"><i class="fa fa-github"> </i></a></li>
      <li><a  href="http://codepen.io/cwilliams3579/" target="_blank" class="btn-floating btn-small btn-fb"><i class="fa fa-codepen"> </i></a></li>
      <li><a href="https://www.freecodecamp.com/cwilliams3579" target="_blank" class="btn-floating btn-small btn-pin"><i class="fa fa-fire"> </i></a></li>
      <li><a href="https://www.facebook.com/tony.gilbert.9440" target="_blank" class="btn-floating btn-small btn-tw"><i class="fa fa-facebook"> </i></a></li>
      <li><a href="#" target="_blank" class="btn-floating btn-small btn-gplus"><i class="fa fa-google-plus"> </i></a></li>
      <li><a href="#" target="_blank" class="btn-floating btn-small btn-li"><i class="fa fa-linkedin"> </i></a></li>
    </ul>
  </div>
  <!--/.Social buttons-->

  <!--Copyright-->
  <div class="footer-copyright" style="background-color:transparent;">
      © 2017 Copyright: <a href="https://www.cleveland-williams.com"> cleveland-williams.com </a>
      <a href="javascript:void(0);" id="rocketmeluncur" class="showrocket"><i></i></a>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->
</div>
